<div class="modal-header">
    <a href="" class="close" data-ng-click="close()">&times;</a>
    <h4 class="modal-title">Expected diet points</h4>
</div>
<div class="modal-body">
    I want to consume less than <input type="text" maxlength="4" data-ng-model="model.dietPoints" class="form-control" id="expected-daily-dietPoints"/> Diet Points per day!
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="close()">Close</button>
    <button type="button" class="btn btn-primary" data-ng-click="save()">Save changes</button>
</div>